{{- $json := .Get "json" | relURL -}}
{{- $height := .Get "height" | default "400px" -}}
{{/* Create a unique, JS-safe ID by removing slashes and dots */}}
{{- $id := .Get "json" | anchorize | safeJS -}}

<div id="{{ $id }}" class="plotly" style="height:{{ $height }}; width:100%;"></div>

<script>
(function() {
    const renderPlot = async () => {
        // Wait for Plotly to be available in case the script is loaded async
        if (typeof Plotly === 'undefined') {
            console.warn("Plotly library not loaded yet. Retrying...");
            setTimeout(renderPlot, 100);
            return;
        }

        try {
            const response = await fetch('{{ $json | safeJS }}');
            const fig = await response.json();
            const layout = fig.layout || {};
            layout['responsive'] = true;
            
            Plotly.newPlot('{{ $id }}', fig.data, layout, {displaylogo: false, responsive: true});
        } catch (e) {
            console.error("Plotly Error:", e);
        }
    };

    // Run if document is already loaded, otherwise wait for window load
    if (document.readyState === 'complete') {
        renderPlot();
    } else {
        window.addEventListener('load', renderPlot);
    }
})();
</script>